<header class="d-flex  align-items-center fixed-top bg-light text-white border-1 border-bottom border-gray ">
    <nav class="navbar navbar-expand-md bg-light w-100">
        <div class="container-fluid ">
            <img src="logo.jpg" class="rounded-circle" style="height:45px;width:45px; margin-left:5%">
            <h3 class="text-primary ">HospitalMe</h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="margin-right:5%">
                <ul class="navbar-nav ms-auto me-3 text-center mx-auto">
                  <li class="nav-item"><a routerLink="home" class="nav-link fs-5">Home</a></li>
                  <li class="nav-item"><a routerLink="about" class="nav-link fs-5">About</a></li>
                  <li class="nav-item"><a routerLink="contactus" class="nav-link fs-5">Contact</a></li>
                  <li class="nav-item"><a routerLink="services" class="nav-link fs-5">Services</a></li>
                  <li class="nav-item"><a routerLink="display" class="nav-link fs-5">Appointments</a></li>
                </ul>
                <div class=" ms-lg-3 mt-3 mt-lg-0 text-center">
                  <button class="btn btn-primary w-100" style="max-width:200px;" routerLink="appoitment">Book Appointment</button>
                </div>
            </div>
        </div>
    </nav>
</header>