<footer class="bg-light text-dark border border-1 border-gray rounded-2">
  <div class="container-fluid p-3 m-auto w-100" style="margin-left:5%; margin-right:5%;">
    <div class="row ms-xl-5 me-xxl-5">
      <div class="col-md-6 mt-2">
        <h5>About</h5>
        <p class>We are a dedicated hospital committed to providing the best
          healthcare services to our community.</p>
        <p> Our team of experts ensures that you get the care you need, when you
          need it.</p>
      </div>
      <div class="col-md-2 mt-2 ">
        <h5>Quick Links</h5>
        <ul class=" list-unstyled text-dark">
          <li><a href class="text-decoration-none text-dark">Home</a></li>
          <li><a routerLink="about" class="text-decoration-none text-dark">About</a></li>
          <li><a routerLink="services" class="text-decoration-none text-dark">Services</a></li>
          <li><a routerLink="contactus" class="text-decoration-none text-dark">Contact</a></li>
          <li><a routerLink="display" class="text-decoration-none text-dark">Appointments</a></li>
        </ul>
      </div>
      <div class="col-md-4 mt-2 ">
        <h5 class>Contact</h5>
        <p><strong>Phone:</strong> +91 9307617578</p>
        <p><strong>Email:</strong> gaurav.solankar7&#64;gmail.com</p>
        <p><strong>Address:</strong> HospitalMe, Baramati </p>
      </div>
    </div>
      <hr class="bg-dark">
      <div>
      <p class="m-0">&copy; 2024 <strong>HospitalMe</strong>. All Rights
        Reserved.</p>
      </div>
  </div>
</footer>