* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; 
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
}
.container {
    display: flex; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 10px; 

}

.logo {
    max-height: 55px; 
    max-width: 100%; 
}

.items {
    display: flex; 
    align-items: center; 
    padding-left: 147px;
    font-size: 27px;
    flex-grow: 1;
}

.items a {
    margin: 0 10px;
    text-decoration: none; 
    color: #000;
}

.doctorn {
    color: blue;
    font-size: 24px; 
    margin-left: 10px; 
}

.bi {
    background-color: #5455e8;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 15px; 
    color: white; 
    border: none; 
    margin-left: auto;
}

img {
    max-width: 100%;
}
footer{
    display: flex;
    justify-content: space-between;
}
.footer-column {
    flex: 1; 
    padding: 50px; 
    color: white; 
}


.footer-location {
    background-color: #4793cb;
}

.footer-contact {
    background-color: #3b88c5; 
}

.footer-hours {
    background-color: #517abe; 
}
.service {
    text-align: center; 
    margin: 50px 0; 
}
.service h3 {
    font-size: 40px; 
    color: #333; 
}
.service p {
    font-size: 20px; 
    margin: 10px 0;  
    color: #555;   
}
.table-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 0 100px; 
    margin-top: 0px;
}

.table-container table {
    border: 2px solid #ccc; 
    border-collapse: collapse; 
    margin: 0px; 
    width: 200px; 
    
}

.table-container td {
        padding: 10px; 
        text-align: center; 
    }
.table-container h1 {
    margin-bottom: 10px; 
}
.dt{
    justify-content: space-evenly;
    display: flex;
    font-family: arial;
    margin-bottom: 60px;
}
.co{
    background-color:#f8f8f8;
}
.footer{
    background-color: #000;
    color: white;
}
.te{
    text-align:center;
}
