<div class="container-fluid" style="margin-top:62px">
    <div class="row">
        <div class="col-xxl-6 col-xl-12 text-center p-5 order-2 order-xxl-1">
          <h1 class="">Get Appointment Now!</h1>
          <p class="">You will be notified via email soon.<br> </p>
          <img src="get_appo_img.jpg" alt="sister_img"class="" style="height:auto; width:auto">
        </div>

        <div class="col-xxl-6 col-xl-12 p-5 order-1 order-xxl-2">
            <div class="">
            <div class="">
            <h1>Book Appointment</h1>
            <h3>Appointment of {{ doctor }}</h3>
            <p><strong>Date:</strong> {{ date }}</p>
            <p><strong>Time:</strong> {{ time }}</p>
            <form #appointmentForm="ngForm" (ngSubmit)="register()">  
                <h6>Enter Patient Valid Information</h6>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name:</label>
                    <input type="text" id="firstName" name="firstName" class="form-control " (keyup)="validate_firstname()" [(ngModel)]="firstName" required #firstNameInput="ngModel"/>
                    <div *ngIf="firstName_error.length" class="text-danger">
                        {{firstName_error}}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" (keyup)="validate_lastname()" [(ngModel)]="lastName" required #lastNameInput="ngModel"/>
                    <div *ngIf="lastName_error.length " class="text-danger">
                       {{lastName_error}}
                    </div>
                </div>
                <div class="mb-3" >
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" (keyup)= "validate_email()" [(ngModel)]="email" required #emailInput="ngModel"/>
                    <div *ngIf="email_error.length " class="text-danger">
                       {{email_error}}
                    </div>
                </div>
                <div>
                    <label for="phoneNo" class="form-label">Phone No:</label>
                    <input type="text" id="phoneNo" name="phoneNo" class=" form-control" (keyup)="validate_phoneno()" [(ngModel)]="phoneNo" required #phoneNoInput="ngModel"/>
                    <div *ngIf="phoneno_error.length" class="text-danger">
                        {{phoneno_error}}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <input type="text" id="address" name="address" class="form-control" (keyup)="validate_address()" [(ngModel)]="address" required #addressInput="ngModel"/>
                    <div *ngIf="address_error.length" class="text-danger">
                        {{address_error}}
                    </div>
                </div> 
    
                <div class="">
                  <button  type="submit"(click)=" on_submit_button_click()" class="btn btn-primary" >Register</button>
                </div>
            </form>
            </div>
            </div>
            

        </div>
    </div>
</div>
