<div class="hed" >
    <h1>Contact</h1>
</div>
<div class="main">
    <div class="contact">
        <h2>Adress line #1</h2>
        <p>432 Main Street<br>
            Your City, State Country.</p>
            <p>(123) 456-7890,<br>
                (123) 256-7890</p>
    </div>
    <div class="contact2">
        <h1>Contact with Dr. Jones  </h1>
        <p>Donec fermentum augue quis augue ornare eget faucibus</p>
        <input type="text" placeholder="Enter Your Full Name"><br>
        <input type="text" placeholder="Enter Your Email">
        <input type="text" placeholder="Enter Your Message">


    </div>
</div>