<div class="gan">
        <h1>Get Appoitment Now!</h1> 
        <p>You will be notified via email soon. The customer is very important,
             the customer will be followed by the customer.</p>
          <!-- <p>I am a text block. Click the edit button to change this text.
             The customer is very important, the customer will be followed by the customer.
              As the land of the land, the mourning nor the corporal of the land, 
              the pillow of the lion.</p> -->
              <h2>Register TO Visite Our Hospital</h2>
              <div class="appoit">
                <img src="Hospital1.webp" alt="1">
         </div>
         <div class="visit-form">
                <h2>Book Visite</h2>
                <form (ngSubmit)="onSubmit()">
                  <div>
                    <label for="Name">Name:</label>
                    <input type="text" id="Name" [(ngModel)]="Name" name="Name" placeholder="Enter name" required>
                  </div>
                  <div>
                    <label for="Date">Date:</label>
                    <input type="Date" id="Date" [(ngModel)]="Date" name="Date" required>
                  </div>
                  <div>
                    <label for="Time">Time:</label>
                    <input type="Time" id="Time" [(ngModel)]="Time" name="Time" required>
                  </div>
                  <button type="submit">Submit</button>
                </form>
              </div>
 </div>
