.gan h1{
    padding-left: 120px;
}

.gan p{
    width: 450px !important;
    line-height: 1.5 !important;
    word-wrap: break-word !important;
    white-space: normal !important;
    font-size: 12px;
    padding-left: 120px;
    margin-bottom: 0;
    color: #868484;
}
.appoit{
    padding-left: 120px;
    margin-top: 70px;
    border-radius: 10px;
}
.uheader{
    color: #ff0000; 
    margin-bottom: 10px; 
    font-weight: bold; 
}