<div class="gan">
    <h1>Get Appointment Now!</h1> 
    <p>You will be notified via email soon. The customer is very important,
        the customer will be followed by the customer.</p>
    <p>I am a text block. Click the edit button to change this text.
        The customer is very important, the customer will be followed by the customer.
        As the land of the land, the mourning nor the corporal of the land, 
        the pillow of the lion.</p>
    <div class="appoit">
        <img src="appoitment.jpeg" alt="1">
    </div>
</div>
