<table border="1"class="table table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Specialization</th>
            <th>Doctor Name</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="spec1.jpeg" alt="Neurologist" style="width: 90px; height: 90px; border-radius: 50%;"></td>
            <td>Neurologist</td>
            <td>Dr. Ankita Arora</td>
            <td>October 30, 2024</td>
            <td>10:00 AM</td>
        </tr>
        <tr>
            <td><img src="spec2.jpeg" alt="Oncologist" style="width: 90px; height: 90px; border-radius: 50%;"></td>
            <td>Oncologist</td>
            <td>Dr. Vinay Vyas</td>
            <td>October 31, 2024</td>
            <td>1:00 PM</td>
        </tr>
        <tr>
            <td><img src="specl3.jpeg" alt="Dermatologist" style="width: 90px; height: 90px; border-radius: 50%;">  </td>
            <td>Dermatologist</td>
            <td>Dr. Neha Taygi</td>
            <td>November 1, 2024</td>
            <td>11:00 PM</td>  
        </tr>
        <tr>
            <td><img src="spec4.jpeg" alt="Cardiologist" style="width: 95px; height: 95px; border-radius: 50%;"></td>
            <td>Cardiologist</td>
            <td>Dr. Leene S</td>
            <td>October 30, 2024</td>
            <td>11:30 PM</td> 
        </tr>
        <tr>
            <td><img src="spec5.jpeg" alt="Radiologist" style="width: 90px; height: 90px; border-radius: 50%;"></td>
            <td>Radiologist</td>
            <td>Dr. Adarsh KS</td>
            <td>October 31, 2024</td>
            <td>3:00 PM</td>
        </tr>
    </tbody>
</table>
