table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: center; 
    margin-top:69px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    color: black;
}
