<div class="sec">
    <h1 class="se">Services</h1>
</div>
<div class="img">
    <img src="service.png" alt="1">
    <div>
        <h1 class="head">Doctoral Specialist hearing services are provided</h1>
        <h4 id="para">Specialist hearing services are provided through our partners Audiomax</h4>
        <span class="flaticon flaticon-heart"></span>
        <h3 id="headname" >Hearing Tests & Aids</h3>
        <h5 id="headinfo">Unlike traditio method you can see in real time what is or is not working for your business online.</h5>
        <h3 id="headname">Paediatric & Adult Audiology</h3>
        <h5 id="headinfo">Unlike traditio method you can see in real time what is or is not working for your business online.</h5>
        <h3 id="headname">Provision & Servicing of Hearing Instruments</h3>
        <h5 id="headinfo">Unlike traditio method you can see in real time what is or is not working for your business online.</h5>

    </div>

</div>
