/* You can add global styles to this file, and also import other style files */
.container {
    display: flex; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 10px; 
}
