#top{
    text-align: center;
    padding-left: 300px;
    font-size: 47px;
}
.appointments-container {
    padding: 70px;
    gap: 70px;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 44px;
    margin-bottom: 20px;
}

.appointment-slot {
   
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.appointment-slot p {
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
.preg{
    width: 100%;
    height: 50%;
    margin-top: 100px;
    border: 1px solid #ddd;
}
