<div style="margin-top:70px">

</div>
<div id="top">
    <h1>Select an Appointment</h1>
</div>
   
<div class="appointments-container">
    <div class="appointment-slot">
        <div>
            <a href="spec1.jpeg" target="_blank" >
                <img src="spec1.jpeg" alt="Neurologist Image" style="width: 70%; height: auto; border-radius: 100px;"> 
            </a>
        </div>
        <h2>Neurologist</h2>
        <h3>Dr.Anka Arora</h3>
        <p><strong>Date:</strong> October 30, 2024</p>
        <p><strong>Time:</strong> 10:00 AM</p>
        <button [routerLink]="['/register', 'Dr.Anka Arora', 'October 30, 2024', '10:00 AM']" class="btn bg-primary">
            Select
        </button>    </div>
    <div class="appointment-slot">
        <div>
            <a href="spec2.jpeg" target="_blank" >
                <img src="spec2.jpeg" alt="Oncologist Image" style="width: 80%; height: auto; border-radius: 100px;"> 
            </a>
        </div>
        <h2>Oncologist</h2>
        <h3>Dr.Vinay Vyas</h3>
        <p><strong>Date:</strong> October 31, 2024</p>
        <p><strong>Time:</strong> 1:00 PM</p>
        <button [routerLink]="['/register', 'Dr.Vinay Vyas', 'October 31, 2024', '1:00 PM']" class="btn bg-primary">
            Select
        </button>
            </div>
    <div class="appointment-slot">
        <div>
            <a href="specl3.jpeg" target="_blank" >
                <img src="specl3.jpeg" alt="Oncologist Image" style="width: 60%; height: auto; border-radius: 100px;"> 
            </a>
        </div>
        <h2>Dermatologist </h2>
        <h3>Dr.Neha Taygi</h3>
        <p><strong>Date:</strong> November 1, 2024</p>
        <p><strong>Time:</strong> 11:00 PM</p>
        <button [routerLink]="['/register', 'Dr.Neha Taygi', 'November 1, 2024', '11:00 PM']" class="btn bg-primary">
            Select
        </button>
            </div>
    <div class="appointment-slot">
        <div>
            <a href="spec4.jpeg" target="_blank" >
                <img src="spec4.jpeg" alt="Oncologist Image" style="width: 70%; height: auto; border-radius: 100px;"> 
            </a>
        </div>
        <h2>Cardiologist</h2>
        <h3>Dr.Leene s</h3>
        <p><strong>Date:</strong> October 30, 2024</p>
        <p><strong>Time:</strong> 11:30 PM</p>
        <button [routerLink]="['/register', 'Dr.Leene s', 'October 30, 2024', '11:30 PM']" class="btn bg-primary">
             Select
        </button>
            </div>
    <div class="appointment-slot">
        <div>
            <a href="spec5.jpeg" target="_blank" >
                 <img src="spec5.jpeg" alt="Radiologist Image" style="width: 80%; height: auto; border-radius: 100px;"> 
            </a>
            </div>
            <h2>Radiologist</h2>
            <h3>Dr.Adarsh KS</h3>
            <p><strong>Date:</strong> October 31, 2024</p>
            <p><strong>Time:</strong> 3:00 PM</p>
             <button [routerLink]="['/register', 'Dr.Adarsh KS', 'October 31, 2024', '3:00 PM']" class="btn bg-primary">
                 Select
            </button>
                 </div>
    <!-- <div class="appointment-slot">
        <div>
            <a href="spec6.jpeg" target="_blank" >
                <img src="spec6.jpeg" alt="Pediatrician Image" style="width: 60%; height: auto; border-radius: 100px;"> 
            </a>
            </div>
            <h2>Pediatrician</h2>
            <h3>Dr.Ravi jangamani</h3>
            <p><strong>Date:</strong> October 31, 2024</p>
            <p><strong>Time:</strong> 1:00 PM</p>
            <button [routerLink]="['/register', 'Dr.Ravi jangamani', 'October 31, 2024', '1:00 PM']" class="btn bg-primary">
                 Select
            </button>
                 </div>             -->
    <!-- Repeat the above block for each appointment slot -->
</div>

<div class="preg">
<a href="preg.jpeg" target="_blank">
    <img src="preg.jpeg" alt="Pregnancy Emergency Image" style="width: 500px; height: 500px; border-radius: 10px;"> 
</a>
<h1>Pregnancy Emergency</h1>
<h2>24*7 Available</h2>
</div>
