<div class="all">
    <div class="img">
        <img src="doct.jpg"  alt=" Doctor" width="100%" >
    </div>
    <div class="mid">
        <div class="footer-column footer-location">
            <h3>Our Location</h3>
            <p>Doctoral Medical Center<br>
                123 Main Street<br>
                Your City, ZIP</p>
        </div>
        <div class="footer-column footer-contact">
            <h3>Phone, Fax & Email</h3>
            <p>Mobile: +808123444, +123440005</p><br>
            <p>Fax: +2005444, +0035580</p>
        </div>  
        <div class="footer-column footer-hours">
            <h3>Opening Hours</h3>
            <p>Mon - Fri: 9 AM - 5 PM<br>
                Sat: 10 AM - 2 PM<br>
                Sun: Closed</p>
        </div>
    </div>
    <div class="service">
        <h3>Our Services</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             <p>Donec fermentum augue quis augue ornare, eget faucibus felis pharetra. 
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <td><img src="Brain.jpeg" alt="1"></td>
            </tr>
            <tr>
                <td>
                    <h1>Neurology</h1>
                    <p>Integer tincuident justo eu blandit dictum 
                        sed euismod , jisto sit amet finibus iaculic ,
                        odio lectus finibus  magna, non loboritos tellus..
                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><img src="oper.jpeg" alt="2"></td>
               
            </tr>
            <tr>
                <td>
                    <h1>Curdaic Surgery</h1>
                    <p>Integer tincuident justo eu blandit dictum 
                        sed euismod , jisto sit amet finibus iaculic ,
                        odio lectus finibus  magna, non loboritos tellus..
                    </p>
                </td>              
            </tr>
        </table>
        <table>
            <tr>
                <td><img src="insu.jpeg" alt="3"></td>
            </tr>
            <tr>
                <td>
                    <h1>Bills & Insurence</h1>
                    <p>Integer tincuident justo eu blandit dictum 
                        sed euismod , jisto sit amet finibus iaculic ,
                        odio lectus finibus  magna, non loboritos tellus..
                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><img src="mac.jpeg" alt="4"></td>
            </tr>
            <tr>
                <td>
                    <h1>Cancer Screeningng </h1>
                    <p>Integer tincuident justo eu blandit dictum 
                        sed euismod , jisto sit amet finibus iaculic ,
                        odio lectus finibus  magna, non loboritos tellus..
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <div class="co">
        <div class="service">
            <h3>Our Medical ExpertsS</h3>
            <p id="par">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                 Donec fermentum augue quis augue ornare, eget faucibus felis pharetra. 
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.        </p>
        </div>
        <div class="dt">
            <table id="doctors">
                <tr>
                    <td><img src="doctor1.jpeg" alt="1"></td>
                </tr>
                <tr>
                    <td id="name">Larry Schmidt
                        <p>Neurology specilist</p>
                    </td>
                    
                </tr>
            </table>
            <table>
                <tr>
                    <td><img src="doctor3.jpeg" alt="2"></td>
                </tr>
                <tr>
                    <td id="name">Roger Schneider
                        <p>Obstetrics & Gynaeclogy</p>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img src="doctor2.jpeg" alt="3"></td>
                </tr>
                <tr>
                    <td id="name">Theresa Hamilton
                        <p>Medicine specilist</p>
                    </td>
                </tr>        
            </table>
            <table>
                <tr>
                    <td><img src="doctor4.jpeg" alt="4"></td>
                </tr>
                <tr>
                    <td id="name">Brittany Robertson
                        <p>Neurology specilist</p>
                    </td>
    
                </tr>
            </table>
        </div>
       </div>
    <div>
        <div class="gan">
            <h1>Get Appoitment Now!</h1> 
            <p>You will be notified via email soon. The customer is very important,
                 the customer will be followed by the customer.</p>
              <p>I am a text block. Click the edit button to change this text.
                 The customer is very important, the customer will be followed by the customer.
                  As the land of the land, the mourning nor the corporal of the land, 
                  the pillow of the lion.</p>
                  <div class="appoit">
                    <img src="appoitment.jpeg" alt="1">
             </div>
        </div>
    </div>
    <div>
        <div class="service">
            <h3>Leatest from our blog</h3>
            <p id="par">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec fermentum augue quis augue ornare, eget faucibus felis pharetra. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.        </p>
        </div>
    </div>
</div>