<!-- Carousel Section -->
<div id="imageCarousel" class=" carousel-fade" data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="false">
  <div class="carousel-inner">
    <!-- First Image -->
    <div class="carousel-item">
      <img src="new Born.jpg" class="d-block w-100 carousel-img " alt="Image 1" >
      <div class="carousel-caption">
          <h2 class="animate-top text-white">THE MoST EXPRENCED</h2>
          <h5 class="animate-top">Newborn Care Service</h5>
          <p class="animate-bottom">We have established a team of investment professionals,<br>
              focused on buyouts and growth equity investment</p>
      </div>
    </div>
    <!-- Second Image -->
    <div class="carousel-item active">
      <img src="doct1.jpg" class="d-block w-100 carousel-img" alt="Image 2">
      <div class="carousel-caption ">
          <h2 class="animate-top text-white">PRIVATE EQUITY TREATMENT</h2>
          <h5 class="animate-top text-white fs-25">EXPERT TEAM</h5>
          <p class="animate-bottom text-white">We have established a team of investment professionals,<br>
              focused on buyouts and growth equity investment</p>
      </div>
    </div>
    <!-- Third Image -->
    <div class="carousel-item">
      <img src="doct2.jpg" class="d-block w-100 carousel-img" alt="Image 3" >
      <div class="carousel-caption">
          <h2 class="animate-top">PRIVATE EQUITY</h2>
          <h5 class="animate-top">Child Care</h5>
          <p class="animate-bottom">We have established a team of investment professionals,<br>
              focused on buyouts and growth equity investment</p>
      </div>
    </div>
  </div>
</div>



    <div class="mid">
        <div class="footer-column footer-location">
            <h3>Our Location</h3>
            <p>Doctoral Medical Center<br>
                123 Main Street<br>
                Your City, ZIP</p>
        </div>
        <div class="footer-column footer-contact">
            <h3>Phone, Fax & Email</h3>
            <p>Mobile: +808123444, +123440005</p><br>
            <p>Fax: +2005444, +0035580</p>
        </div>  
        <div class="footer-column footer-hours">
            <h3>Opening Hours</h3>
            <p>Mon - Fri: 9 AM - 5 PM<br>
                Sat: 10 AM - 2 PM<br>
                Sun: Closed</p>
        </div>
    </div>
    <div class="service">
        <h3>Our Services</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Donec fermentum augue quis augue ornare, eget faucibus felis pharetra. 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <td><img src="Brain.jpeg" alt="1"></td>
            </tr>
            <tr>
                <td>
                    <h1>Neurology</h1>
                    <p>Integer tincuident justo eu blandit dictum 
                        sed euismod , jisto sit amet finibus iaculic ,
                        odio lectus finibus  magna, non loboritos tellus..
                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><img src="oper.jpeg" alt="2"></td>
            </tr>
            <tr>
                <td>
                    <h1>Curdaic Surgery</h1>
                    <p>Integer tincuident justo eu blandit dictum 
                        sed euismod , jisto sit amet finibus iaculic ,
                        odio lectus finibus  magna, non loboritos tellus..
                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><img src="insu.jpeg" alt="3"></td>
            </tr>
            <tr>
                <td>
                    <h1>Bills & Insurance</h1>
                    <p>Integer tincuident justo eu blandit dictum 
                        sed euismod , jisto sit amet finibus iaculic ,
                        odio lectus finibus  magna, non loboritos tellus..
                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><img src="mac.jpeg" alt="4"></td>
            </tr>
            <tr>
                <td>
                    <h1>Cancer Screening</h1>
                    <p>Integer tincuident justo eu blandit dictum 
                        sed euismod , jisto sit amet finibus iaculic ,
                        odio lectus finibus  magna, non loboritos tellus..
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <div class="co">
        <div class="service">
            <h3>Our Medical Experts</h3>
            <p id="par">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec fermentum augue quis augue ornare, eget faucibus felis pharetra. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
        <div class="dt">
            <table id="doctors">
                <tr>
                    <td><img src="doctor1.jpeg" alt="1"></td>
                </tr>
                <tr>
                    <td id="name">Larry Schmidt
                        <p>Neurology specialist</p>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img src="doctor3.jpeg" alt="2"></td>
                </tr>
                <tr>
                    <td id="name">Roger Schneider
                        <p>Obstetrics & Gynecology</p>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img src="doctor2.jpeg" alt="3"></td>
                </tr>
                <tr>
                    <td id="name">Theresa Hamilton
                        <p>Medicine specialist</p>
                    </td>
                </tr>        
            </table>
            <table>
                <tr>
                    <td><img src="doctor4.jpeg" alt="4"></td>
                </tr>
                <tr>
                    <td id="name">Brittany Robertson
                        <p>Neurology specialist</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div class="gan">
            <h1>Get Appointment Now!</h1> 
            <p>You will be notified via email soon. The customer is very important,
                the customer will be followed by the customer.</p>
            <p>I am a text block. Click the edit button to change this text.
                The customer is very important, the customer will be followed by the customer.
                As the land of the land, the mourning nor the corporal of the land, 
                the pillow of the lion.</p>
            <div class="appoit  ">
                <img src="appoitment.jpg" alt="1">
            </div>
        </div>
    </div>
    <div>
        <div class="service">
            <h3>Latest from our blog</h3>
            <p id="par">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec fermentum augue quis augue ornare, eget faucibus felis pharetra. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
    </div>

