* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex; 
    flex-direction: column;
    align-items: stretch; 
    padding: 10px; 
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

html, body {    
   height: 100%;
   overflow-x: hidden; 
   margin: 0;
}

.mid {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.footer-column {
    flex: 1; 
    padding: 50px; 
    color: white; 
}

.footer-location {
    background-color: #4793cb;
}

.footer-contact {
    background-color: #3b88c5; 
}

.footer-hours {
    background-color: #517abe; 
}

.service {
    text-align: center; 
    margin: 50px 0; 
    overflow: auto;
    flex: 1;
}

.service h3 {
    font-size: 40px; 
    color: #333; 
}

.service p {
    font-size: 20px; 
    margin: 10px 0;  
    color: #555;   
}

.table-container {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap; 
    padding: 20px; 
    margin-top: 0px;
    flex: 1;
}


.table-container table {
    border: 2px solid #ccc; 
    border-collapse: collapse; 
    margin: 10px;
    width: calc(25% - 20px); 
    margin-bottom: 20px;
}

@media (max-width: 900px) and (min-width: 600px){
    .table-container table {
        width: calc(48% - 20px); 
        }
}

@media (max-width: 600px) {
    table-container {
        flex-direction: column; 
        align-items: center;
    }
    .table-container table {
        width: 100%; 
        margin-bottom: 20px;
    }
}
@media (min-width: 901px) {
    .table-container{
        flex-wrap: nowrap;
    }
    .table-container table {
        width: calc(25% - 20px); 
    }
}

.table-container td {
    padding: 10px; 
    text-align: center; 
}

.table-container h1 {
    margin-bottom: 10px; 
}

.dt {
    justify-content: space-evenly;
    display: flex;
    font-family: Arial, sans-serif;
    margin-bottom: 60px;
}

.co {
    background-color: #f8f8f8;
    flex: 1;
    overflow: auto;
}

.te {
    text-align: center;
}
.gan{
    padding-left: 85px;
    padding-right: 404px;
}
.appoit{
    padding-left: 85px;
}