<div id="imageCarousel" class="container-fluid  navbar-light carousel-fade w-100 p-0" style="margin-top:62px;"data-bs-ride="carousel">
    <div class="carousel-inner container-fluid p-0">
        <div class="carousel-item active p-0">
          <img src="cardiac-2.jpg" class="d-block w-100 h-100 img-fluid p-0" alt="Image 1">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="carousel-item">
          <img src="cancer-screening.jpg" class="d-block img-fluid w-100 h-100 p-0" alt="Image 2">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="carousel-item">
          <img src="slide-12.jpg" class="d-block img-fluid w-100 h-100 p-0" alt="Image 3">
          <div class="carousel-caption">
          </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 mb-5 border-0 ">
    <div class="row text-md-center text-sm-start border-0">
        <div class="col-md-4 p-1 ">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                <h3 class="card-title">Our Location</h3>
                <p class="card-text">Doctoral Medical Center<br>
                123 Main Street<br>
                Your City, ZIP
                </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-1 border-0">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                <h3 class="card-title">Contact</h3>
                <p class="card-text">
                <strong>Email:</strong> gaurav.solankar7&#64;gmail.com <br>
                <strong>Address:</strong> HospitalMe, Baramati <br>
                <strong>Phone:</strong> +91 9307617578  
                </p>    
                </div>
            </div>
        </div>

        <div class="col-md-4 p-1 border-0 ">
            <div class="card h-100 shadow-sm ">
                <div class="card-body">
                <h3 class="card-title">Opening Hours</h3>
                <p class="card-text">
                <strong>Mon - Fri:</strong> 9 AM - 5 PM <br>
                <strong>Sat:</strong> 10 AM - 2 PM   <br>
                <strong> Sun:</strong> Emergency Only
                </p>
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="container-fluid mt-5 mb-5">
    <div class="text-center mb-5">
        <h1 class="fw-bold">Our Services</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xxl-3">
            <div class="card  h-100 text-center shadow">
                <img src="Brain.jpeg" alt="Neurology" class="card-img-top">
                <h2 class="card-title">Neurology</h2>
                <p class="card-text">
                    Expert neurological care and personalized treatment options for various neurological conditions.
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xxl-3">
            <div class="card  h-100 text-center shadow">
                <img src="oper.jpeg" alt="Cardaic" class="card-img-top">
                <h2 class="card-title">Cardiac Surgery</h2>
                <p class="card-text">
                    Advanced cardiac surgery procedures for comprehensive heart health and care.
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xxl-3">
            <div class="card  h-100 text-center shadow">
                <img src="insu.jpeg" class="card-img-top" alt="Bills & Insurance">
                
                    <h2 class="card-title">Bills & Insurance</h2>
                    <p class="card-text">
                        Seamless billing and insurance support to ensure hassle-free healthcare experience.
                    </p>
                
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xxl-3">
            <div class="card  h-100 text-center shadow">
                <img src="mac.jpeg" class="card-img-top" alt="Cancer Screening">
                
                    <h2 class="card-title">Cancer Screening</h2>
                    <p class="card-text">
                        Comprehensive cancer screening services for early detection and prevention.
                    </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 mb-5">
    <div class="text-center mb-5">
        <h1 class="fw-bold">Our Medical Experts</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xxl-3">
            <div class="card h-100 text-center shadow">
                <img src="doctor1.jpeg" alt="" class="card-img-top">
                <h2 class="card-title">Larry Schmidt</h2>
                <p class="card-text">Neurology Specialist</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xxl-3">
            <div class="card h-100 text-center shadow">
                <img src="doctor3.jpeg" alt="" class="card-img-top">
                <h2 class="card-title">Roger Schneider</h2>
                <p class="card-text">Obstetrics & Gynaeclogy</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xxl-3">
            <div class="card h-100 text-center shadow">
                <img src="doctor2.jpeg" class="card-img-top" alt="">
                
                    <h2 class="card-title">Theresa Hamilton</h2>
                    <p class="card-text">Medicine specilist</p>
                
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xxl-3">
            <div class="card h-100 text-center shadow">
                <img src="doctor4.jpeg" class="card-img-top" alt="">
                
                    <h2 class="card-title">Brittany Robertson</h2>
                    <p class="card-text">Neurology specilist</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3 mb-2 m-0 p-0">
    <div class="card text-center rounded">
        <div class="card-body">
            <h1 class="card-title">Get Appointment Now!</h1>
            <p class="card-text">You will be notified via email soon.<br> </p>
            <div class=" ms-lg-3 mt-3 mt-lg-0 text-center">
                <button class="btn btn-primary" style="max-width:200px;" routerLink="../appoitment">Book Appointment</button>
              </div>
           <img src="get_appo_img.jpg" alt="1"class="card-img" style="height:600px; width:auto">
        </div>
    </div>
</div>

